*{
    box-sizing: border-box;
margin: 0;
padding: 0;
}
.navegacion ul{
    list-style: none;
}
.menu > li {
    display: inline-block;
} 
.menu > li > a{
    display: block;
    padding: 5px;
    color: white;
    text-decoration: none;
    font-family: cursive;
}
.menu li :hover{
    color: blue;
    transition: all .3s;
}
.submenu{
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: 1s;
    list-style: none;
}
.submenu li a{
    display: block;
    padding: 15px;
    color: white;
    font-family: cursive;
    text-decoration: none;
}
.menu li:hover .submenu {
  visibility: visible;
  opacity: 1;
}
.redes{
    float: right;
    margin-top: 30px;
    margin-right: 50px;
    color: white;
    font-size: 50px;
}
.nosotros{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}
html{
    height: 100%;
}
body{
    min-height: 100%;
}
.header{
    grid-area: header;
    background-color: black;
    text-align: end;
}
.main{
    grid-area: main;
    background-color: blue;
    background-image: url(../imagenenportada/portada\ potencial.jpg);
    background-position: center;
    background-size: contain;

}
.section{
    grid-area: section;
    background-color: black;
}
.footer{
    grid-area: footer;
    background-color: black;
}
.gridcontainer{
    display: grid;
    grid-template-areas: 
        "header"
        "main"
        "footer" 
        "section";
}
@media (min-width: 720px){
    .gridcontainer{
        grid-template-columns: 600px auto;
        grid-template-rows: 80px 600px 100px;
        grid-template-areas: 
            "header header"
            "main main"
            "footer section";
    }
}
@media (min-width: 320px) and (max-width: 719px){
    .gridcontainer{
        grid-template-rows:80px 500px 200px 100px;
        grid-template-areas: 
            "header"
            "main"
            "footer "
            "section";

    }
}