*{
    margin: 0;
    padding: 0;
}
header{
    height: 190px;
    background-color: black;
    color: aliceblue;
    font-size: 30px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    border-top: 5px solid red;
    border-bottom: 5px solid red;
    border-left: 5px solid red;
    border-right: 5px solid red;
}
.imagenes{
    background-color: black;
    border: 4px solid red;
    min-height: 800px;
    width: auto;
    display: grid;
    padding: 30px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
.img{
    background-color: blueviolet;
    border: 2px solid red;
    border-radius: 4px;
    box-shadow: 0 0 10px white;

}
.img:hover{
    transform: scale(1.05);
    transition: all 0.7s;
}
.img1{
    background-image: url(../imagenesgaleria/instalacion1.jpg);
    background-position: center;
    background-size: cover
}
.img2{
    background-image: url(../imagenesgaleria/instalacion2.jpg);
    background-position: center;
    background-size: cover;
}
.img3{
    background-image: url(../imagenesgaleria/instalacion3.jpg);
    background-position: center;
    background-size: cover
}
.img4{
    background-image: url(../imagenesgaleria/instalacion4.jpg);
    background-position: center;
    background-size: cover;
}
.img5{
    background-image: url(../imagenesgaleria/instalacion5.jpg);
    background-position: center;
    background-size: cover;

}
.img6{
    background-image: url(../imagenesgaleria/instalacion6.jpg);
    background-position: center;
    background-size: cover;

}
.img7{
    background-image: url(../imagenesgaleria/instalacion7.jpg);
    background-position: center;
    background-size: cover;
    
}
.img8{
    background-image: url(../imagenesgaleria/instalacion8.jpg);
    background-position: center;
    background-size: cover;

}
.img9{
    background-image: url(../imagenesgaleria/instalacion9.jpg);
    background-position: center;
    background-size: cover;

}
.img10{
    background-image: url(../imagenesgaleria/instalacion10.jpg);
    background-position: center;
    background-size: cover;

}

@media only screen and (min-width: 320px){
    .img{
        height: 150px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px){
    .imagenes{
        grid-template-columns: 1fr 1fr;
    }
}
@media only screen and (min-width:768px) and (max-width: 1024px) {
    .imagenes{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .img1{
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .img2{
        grid-column: 3/4;
        grid-row: 1/2;
    }
    .img3{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .img4{
        grid-column: 2/4;
        grid-row: 2/3;
    }
    .img5{
        grid-column: 1/3;
        grid-row: 3/4;
    }
    .img6{
        grid-column: 3/4;
        grid-row: 3/4;
    }
    .img7{
        grid-column: 1/2;
        grid-row: 4/5;
    }
    .img8{
        grid-column: 2/4;
        grid-row: 4/5;
    }
    .img9{
        grid-column: 1/3;
        grid-row: 1/2;
    }
    .img10{
        grid-column: 3/4;
        grid-row: 1/2;
    }
    
}

@media only screen and (min-width: 1024px){

    .imagenes{
        grid-template-columns: repeat(5, 1fr);
    }
    .img{
        height: auto;
    }

    .img1{
        grid-column: 1/2;
        grid-row: 1/3;
    }
    
    .img2{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .img3{
        grid-column: 3/5;
        grid-row: 1/2;
    }
    
    .img4{
        grid-column: 2/3;
        grid-row: 2/4;
    }
    .img5{
        grid-column: 3/4;
        grid-row: 2/3;
    }
    .img6{
        grid-column: 4/5;
        grid-row: 2/3;
    }
    .img7{
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .img8{
        grid-column: 3/5;
        grid-row: 3/4;
    }   
    .img9{
        grid-column: 5/6;
        grid-row: 1/5;
    }
    .img10{
        grid-column: 1/5;
        grid-row: 4/5;
    }
}